/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e3f2fd; /* Light blue background */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 30px;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 20px;
}
